<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="about-sec">
        <div class="inner-container">
            <h1>About us</h1>
            <p class="text">
            We are a team of committed individuals with one motto of bringing 
            to our customers High Quality Vegetables and Fruits from different farms
            in India by a safe and hygenic distribution channel right at the comfort
            of your homes.
            </p>
            <div class="timing">
                <span>Mon-Fri:6am-6pm</span>
                <span>Sat-Sun:8am-1pm</span>
            </div>
        </div>
    </div>
</body>
</html>