<p id="header">Privacy Policy</p>
<div fxLayoutAlign="center">
    <div fxFlex="90%" fxFlex.xs="100%" fxFlex.sm="100%">
        <mat-card  class="mat-elevation-z12">
            <mat-card-content>
                <div class="info">
                    We respect your privacy and are committed to maintaining it. When you shop on our shopping store, we will ask you to input your 
                    information and will collect Personal Information from you such as your name, e-mail address,address, 
                    telephone/ mobile number, product selections, credit card or other payment information and password.<br><br>
                    We recognize your right to confidentiality and are committed to protecting your privacy. We do not furnish any identifiable information 
                    at the individual level regarding its customers to any third party. The information you give to us is held with the utmost care and security.
                     This information is collected primarily to ensure that we are able to fulfill your requirements and to deliver you a truly personalized 
                     shopping experience. When navigating our web site, personal information about you is not collected automatically or without 
                     your knowledge.<br><br>
                     We may share non-personal, non-individual statistical or demographic information in aggregate form with our marketing partners, 
                     advertisers or other third-parties for research and advertising purposes. In other words, we will not tell our marketing partners 
                     that you purchased a specific product, but we may tell them how many customers purchased that product.<br><br>
                     We will not release your Personal Information to any company outside for mailing or marketing purposes.<br><br>
                     We always strive to respect the privacy of our customers completely. We use the information we collect on our website to enhance 
                     your overall shopping experience. We do not sell, trade, or rent your personal information to others.
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
